<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#712cf9">
    <title>Flow</title>
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900&amp;display=swap">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    {% include nav.html %}
    <main class="container">
      {{ content }}
    </main>
    <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
      <p>
        Flow
      </p>
    </footer>
    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
